<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="addproduct">Product Name</label>
            <input type="text" name="productname" id="addproduct">
        </div>

        <button type="submit">Add Product</button>
    </form>
</main>