<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/add-product-form.css" />
    <%- include('includes/navigation.ejs') %>
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="addproduct">Product Name</label>
          <input type="text" name="productname" id="addproduct" />
        </div>

        <button type="submit">Add Product</button>
      </form>
      <%- include('includes/end.ejs') %>