<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>
    <h1>User Cart</h1>
    <button type="button" onclick="location.href='/checkout'"> Go to Checkout </button>

<%- include('../includes/end.ejs') %>